* {
  Box-sizing: Border-box;                                 /*Makes all the borders in to box shape*/
}

html,body {
  background: #e0e0e0;
  margin: 0;
  padding: 0;                                  /*Sets Background Color*/
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-rendering: optimizelegibility;
}

#navPage {                                                  /*Sets the Navigation Menu Page Properties*/
  background: #e0e0e0;
  background: url("../images/Vinayaha.jpg") 50% 0 no-repeat;
/*    Sets the background image, position, repeating factor to none*/
  background-size:cover;
/*    Covers the whole page*/
  height:100%;                                             /*Covers the whole height*/
  position: relative;                                         /*Sets the relative position*/
  overflow: hidden;
}

#naviMenu {                                                 /*Sets the navigation menu properties*/
  width:100%;
  height:100%;
  overflow: hidden;                                         /*Overflowed elements will be hidden*/
  position: absolute;                                       /*Sets the absolute position*/
}

#indexPortText {                                            /*Sets the first page Text Section Properties*/
  width: 100%;
  bottom: 1;
  padding-top: 7vw;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;
  color:ghostwhite;
  font-size:1.5vw;
  text-transform: uppercase;                                /*Transform the text to uppercase*/
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  letter-spacing: 2.1vw;                                     /*Makes letter spacing to the text*/
  transform:scale(1.1,1.5);
  position: absolute;
}

#indexFooter {                                              /*Sets the footer section properties*/
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2vw;
  text-align: center;
  color:black;
  font-size:1vw;
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  transform:scale(1.2,1.2);
    z-index: 100;
  }


.leftArrow{
    font-size: 50px;
    left:1%;
    bottom:1vw;
    position: absolute;
    text-shadow: #FFFFFF 0 0 15px, #FFFFFF 0px 0px 15px;
    text-decoration: none;
    color: black;
    z-index: 100;
}
.rightArrow{
    font-size: 50px;
    right: 1%;
    bottom:1vw;
    position: absolute;
    text-shadow: #FFFFFF 0 0 15px, #FFFFFF 0px 0px 15px;
    text-decoration: none;
    color: black;
    z-index: 100;
}

.rightArrow:hover, .leftArrow:hover{
    color: #284942;
}

#menu {                                                     /*Defines the Initial Properties of the navigation Menu*/
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
/*  border-radius: 500px;*/
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  list-style: none;
  font-size: 100%;
  transform:rotate(360deg);
  transition:0.8s ease-in-out;
  overflow: hidden;
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

#menu:target {                                               /*Defines the Menu properties after clicked*/
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
  transform:rotate(60deg);
  border:1px solid #BCC6CC;
  position: fixed;
  opacity: 1;
}

.menu-button {                                               /* Defines the initial expand/hide button properties*/
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  background: #fff;
  box-shadow: 0 0 0 5px #B6B6B4;                             /*Sets Box Shadow to Menu Buttons*/
  border-radius: 500px;
  border-radius: 50%;
  opacity: 0;
  flex: 0 1 100px;
}

.menu-button:target{                                          /*Defines Menu Button Properties after visited*/
  opacity: 0.5;
}

#menu:not(:target) > a:first-of-type,                         /* The initial link stages where the parent element is menu button in not visited stage*/
#menu:target > a:last-of-type {                               /*The Final link stages where the parent element is menu button in visited stage*/
  opacity: 1;
  z-index: 2;
}

.menu-item-back {                                              /*Sets all the menu items in common's properties - unvisited*/
  background: linear-gradient(to bottom, rgba(131, 126, 124,1) 0%,rgba(182, 182, 180,1) 100%);
  width: 175px;
  height: 150px;
  position: absolute;
  transform-origin: 0px 150px;
  margin-top: -150px;
  left: 50%;
  top: 50%;
  opacity: 0.6;
  border: 1px solid whitesmoke;
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5);                 /*bottom internal shadow*/
  inset 0 1px 1px rgba(255,255,255,1);
    flex: 0 1 100px;
}

.menu-item-back:hover {                                         /*Sets all the menu items properties when hovering the mouse*/
  background: #E5E4E2;
  z-index: 1;
  position: absolute;
}

.menu-item {                                                    /*Menu Item Properties before expansion*/
  position: absolute;
  text-decoration: none;
  top: 50%;
  left: 50%;
  display: none;                                                /*Menu will be in hidden stage until expanded/clicked*/
    flex: 0 1 100px;
}

.menu-item:before {                                             /*Menu Item Properties before expansion*/
  color: #fff;
  position: absolute;
  text-decoration: none;
  top: -12px;
  left: 30px;
  z-index: 1;
}

.menu-item {                                                    /*Change the display from in-line to block for all the menu items*/
  display: block;
  }


.menu-item:nth-child(3) .menu-item-back {                      /*Skew and rotate the 3rd element to fit the circle  */
  transform: rotate(0deg) skew(-30deg);
}

.menu-item:nth-child(3):before {                                /*Sets the icon inside and its properties in the menu item*/
  margin: -64px 0 0 50px;
  background-image:url('../images/Interests.png');
  transform: rotate(-60deg);
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  content: " ";
}



.menu-item:nth-child(4) .menu-item-back {                       /*Skew and rotate the 4th element to fit the circle  */
  transform: rotate(60deg) skew(-30deg);
}

.menu-item:nth-child(4):before {                                 /*Sets the icon inside and its properties in the menu item*/
  margin: 55px 0 0 50px;
  background-image:url('../images/Contact.png');
  transform: rotate(-60deg);
  background-size: 35px 27px;
  width: 35px;
  height: 27px;
  content: " ";
}



.menu-item:nth-child(5) .menu-item-back {                        /*Skew and rotate the 5th element to fit the circle  */
  transform: rotate(120deg) skew(-30deg);
}

.menu-item:nth-child(5):before {                                 /*Sets the icon inside and its properties in the menu item*/
  margin: 43px 0 0 -155px;
  background-image:url('../images/Portfolio.png');
  transform: rotate(-60deg);
  background-size: 47px 47px;
  width: 47px;
  height: 47px;
  content: " ";
}


.menu-item:nth-child(6) .menu-item-back {                        /*Skew and rotate the 6th element to fit the circle  */
  transform: rotate(180deg) skew(-30deg);
}

.menu-item:nth-child(6):before {                                 /*Sets the icon inside and its properties in the menu item*/
  margin: 113px 0 0 -49px;
  background-image:url('../images/Skills.png');
  transform: rotate(-60deg);
  background-size: 30px 28px;
  width: 30px;
  height: 28px;
  content: " ";
  z-index: 0;
}



.menu-item:nth-child(7) .menu-item-back {                       /*Skew and rotate the 7th element to fit the circle  */
  transform: rotate(240deg) skew(-30deg);
}

.menu-item:nth-child(7):before {                                 /*Sets the icon inside and its properties in the menu item*/
  margin: -68px 0 0 -152px;
  background-image:url('../images/Home.png');
  transform: rotate(-60deg);
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  content: " ";
}



.menu-item:nth-child(8) .menu-item-back {                       /*Skew and rotate the 8th element to fit the circle  */
  transform: rotate(300deg) skew(-30deg);
}

.menu-item:nth-child(8):before {                                 /*Set the icon inside and its properties in the menu item*/
  margin: -123px 0 0 -52px;
  background-image:url('../images/AboutMe.png');
  transform: rotate(-60deg);
  background-size: 30px 37px;
  width: 30px;
  height: 37px;
  content: " ";

}


.icon-menu:before{                                               /*Set the icon inside the expansion menu and its intial properties*/
  background-image:url('../images/Menu3.png');
  margin: 10px 0 0 10px;
  background-size: 130px 130px;
  width: 130px;
  height: 130px;
  content: " ";
  display: block;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
  z-index: 2;
}


.icon-minus:before{                                              /*Set the icon inside the hiding menu and its intial properties*/
  background-image:url('../images/Minus2.png');
  margin: 10px 0 0 10px;
  transform: rotate(-60deg);
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
  z-index: 2;
  background-size: 130px 130px;
  width: 130px;
  height: 130px;
  content: " ";
  display: block;
  opacity: 0.6;
}

#homePage{                                                      /*Assigns Home Page and Background*/
  background: url(../images/Food.jpg) 50% 0 no-repeat;
  background-size: cover;
/*  color: #e0e0e0;*/
  height:100%;
}

#homeArticle{
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.54);
	color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.homeMainText {
    margin-top: 5%;
    bottom: 0;
/*    margin-bottom: 10%;*/
    font-size: 8vw;
    position: static;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-left: 12.5%;
    padding-right: 12.5%;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height:0.88;
	font-weight: lighter;
    color:#E2F0DF;
    order: 0;
    flex: 1 1 100%;
    align-self: center;
    text-align: center;
}
.homeSubText{
    top:0;
    margin-top: -20%;
    font-size: 1.8vw;
    position: static;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height:1.42857143;
	font-weight: lighter;
    color:whitesmoke;
    order: 0;
    flex: 1 1 100%;
    align-self: center;
    text-align: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

@media screen and (max-width:680px){
    .homeSubText{
    margin-left: 10vw;
    margin-right: 10vw;
        font-size: 15px;
    }
    .homeMainText{
        font-size: 12vw;
    }
}

#aboutMePage{                                                   /*Assigns About Me Page and Background*/
/*
  background: url(../images/RainDrops.jpg) 50% 0 no-repeat;
  background-size: cover;
*/
  color: #e0e0e0;
  height:100%;
}

#aboutMeSection{
    bottom: 10%;
    top: 40%;
    position: absolute;
    width: 100%;
/*    height: 58%;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#aboutMeImage{
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
    margin-left: 6%;
}

#aboutMeHeader{
    order: 0;
    flex: 1 1 70%;
    align-self: stretch;
    margin-top:7%;
    left:0;
}

#aboutTitleText{
    font-size: 30.8px;
    font-family:Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; ;
/*	font-weight: lighter;*/
    color:dimgrey;
    text-align: left;
    margin-left: 3%;
}

#aboutSubTitleText{
    font-size: 15px;
    margin-top: -2%;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: lighter;
    color:black;
    text-align: left;
    margin-left: 3%;
}

#aboutLower{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#aboutLower{
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 150%;
    margin-top: 1%;
    width:90%;
    font-family: Calisto MT,Bookman Old Style,Bookman,Goudy Old Style,Garamond,Hoefler Text,Bitstream Charter,Georgia,serif;
	font-weight: lighter;
    color:black;
    text-align: justify;
    margin-left: 8%;
    margin-right: 8%;
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
}

@media screen and (max-width:680px){
    #aboutMeSection{
        width: 100%;
        top:0;
        padding-top: 40%;
    }
    #aboutMeImage img{
        height: 150px;
        width: 150px;
        margin-top: 13%;
        margin-left:-2%;
    }
    #aboutMeHeader{
        top:0;
        margin-top: -6%;
    }
    #aboutSubTitleText{
        top:0;
        margin-top: -6%;
    }
    #circSocial li{
        margin-left:0;
    }
}

@media screen and (max-height:500px){
    #aboutMeSection{
        margin-top: 10%;
    }
    #aboutMeImage img{
        height: 150px;
        width: 150px;
    }
}

#portfolioPage{                                                 /*Assigns Portfolio Page and Background*/
/*
  background: url(../images/CNView.jpg) 50% 0 no-repeat;
  background-size: cover;
*/
  color: #e0e0e0;
  height:100%;
}

#portSection{
    bottom: 10%;
    top: 30%;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;    
}

#portSection div{
    order: 0;
    flex: 1 1 20%;
    align-self: auto;
    border-width:2px;
    border-style: solid;
    border-color: black;
    width: 16%;
    height:40%;
    margin-left : 6%;
    margin-right : 6%;
    margin-bottom: 4%;
    z-index: 10;
    text-decoration: none;
    overflow: hidden;
}

span.text-content span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

span.text-content {
  background: rgba(0,107,0,0.5);
  color: floralwhite;
  cursor: pointer;
  display: table;
  height: 40%;
  flex: 1 1 20%;
  align-self: auto;
  position: absolute;
  top: 0;
  width: 21.2%;
  opacity: 0;
  transition: opacity 500ms;
}

#portSection div:hover span.text-content {
  opacity: 1;
  cursor:cell;
}

@media screen and (max-width:680px){
    #portSection div{
        flex: 1 1 40%;
        width: 30%;
        height:25%;
        margin-left : 0.5%;
        margin-right : 0.5%;
        margin-bottom: 1%;
    }
    #portSection{
        bottom: 0%;
        top: 12%;
        width: 80%;
        margin-left : 10.5%;
}
    span.text-content {
        flex: 1 1 40%;
        width: 48.2%;
        height:25%;
    }
}
#interestsPage{                                                 /*Assigns Interests Page and Background*/
/*
  background: url(../images/Portraits.jpg) 50% 0 no-repeat;
  background-size: cover;
*/
  height:100%;
  color: #e0e0e0;
}

@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow';

#interestsSection{
    bottom: 0%;
    top: 11vw;
    position: absolute;
    width: 100%;  
}
.multiInterests{
    font-size:70px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    color: floralwhite;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    position: absolute;
	overflow: hidden;
}

.multiInterests div{
    order: 0;
    flex: 1 1 25%;
    align-self: stretch; 
    position: absolute;
	width: 50%;
	height: 50%;
    display: table;
}

.multiInterests div a h1{
    font-size:70px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.multiInterests div a{
    display:table-cell; 
    vertical-align:middle;
    text-decoration: none;
    color: floralwhite;
    z-index:10;
}

#photography{
    top: 0;
	left: 0;
	background: url(../images/Photography.jpg);
    background-size: 100%;
}

#sports{
    top: 0;
	left: 50%;
	background: url(../images/Pool.jpg);
    background-size: cover;
}

#socialMedia{
    top: 50%;
	left: 0;
	background: url(../images/Social.jpg);
    background-size: cover;
}

#travelling{
    top: 50%;
	left: 50%;
	background: url(../images/Travelling.jpg);
    background-size: cover;
}

#skillsPage{                                                    /*Assigns Skills Page and Background*/
/*
  background: url(../images/Lamb.jpg) 50% 0 no-repeat;
  background-size: cover;
*/
  height:100%;
  color: #e0e0e0;
}

#contactMePage{                                                 /*Assigns Contact Me Page and Background*/
  background: url(../images/RainDropsDark.jpg) 50% 0 no-repeat;
  background-size: cover;
  height:100%;
  color: #e0e0e0;
/*    background-size: 100%;*/
/*  background: linear-gradient(to left, #6A9113 , #141517);*/
}

@import 'https://fonts.googleapis.com/css?family=Philosopher:700';

@import 'https://fonts.googleapis.com/css?family=Amatic+SC';

@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond';

#contactSection{
    bottom: 10%;
    top: 30%;
    position: absolute;\
    width: 90%;
    font-family: 'Amatic SC', cursive;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
        margin-left: 7%;
        margin-right: 7%;
/*    margin-left: 5%;*/
}

#contactHeading{
    order: 0;
    flex: 1 1 auto;
    align-self: flex-start;
    z-index: 0;
    margin-top: 10%;
    vertical-align: middle;
}

#contactForm{
    order: 0;
    flex: 1 1 55%;
    align-self: flex-start;
    margin-top: 1%;
}

@media screen and (max-width:680px){
    #contactSection{
        top:5%;
    }
    #contactHeading{
    margin-top: -20%;}
}

@media screen and (max-width:900px){
    #contactSection{
        top:20%;
    }
    #contactHeading{
    margin-top: -10%;}
}

#contactHeading p {
/*  background-color: white;*/
  color: snow;
  margin:0px;
    top:0px;
    padding: 0px;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  letter-spacing: 1px;
  text-shadow: 0 0 15px rgba(153, 255, 153, 1),0 0 15px rgba(153, 255, 153, 1),0 0 15px rgba(153, 255, 153, 1);
}

#contactHeading p b {
  font-size: 30px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: -20px;
  color: seashell;
  text-shadow: 0 0 15px rgba(153, 255, 153, 1),0 0 15px rgba(153, 255, 153, 1),0 0 15px rgba(153, 255, 153, 1);
}

.contact-form .input-block {
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px #9ACD32;
  width: 100%;
  height: 50px;
/*  padding: 5px;*/
  position: relative;
  margin-bottom: 5px;
  transition: all 0.3s ease-out;
}
.contact-form .input-block.focus {
  background-color: #fff;
  border: solid 1px #9ACD32;
}
.contact-form .input-block.textarea {
  height: auto;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}
.contact-form .input-block label {
  position: absolute;
  left: 25px;
  top: 20px;
  display: block;
  margin: 0;
  font-weight: 300;
  z-index: 1;
  color: #333;
  font-size: 35px;
  line-height: 10px;
}
.contact-form .input-block .form-control {
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  position: relative;
  z-index: 2;
  top:15px;
  font-size: 25px;  
  font-family: 'Cormorant Garamond', serif;
  color: #333;
}
.contact-form .input-block .form-control:focus label {
  top: 0;
}
.contact-form .square-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #228B22;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 2px;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 58px;
  border: none;
  width: 100%;
  border: solid 1px #9ACD32;
  font-family: 'Philosopher', sans-serif;
}
.contact-form .square-button:hover, .contact-form .square-button:focus {
  background-color: ghostwhite;
}

@media (min-width: 768px) {
  .contact-wrap {
    width: 60%;
    margin: auto;
  }
}

.iconSocial {
  position: absolute;
  width: 100%;
  margin-top: 15%;
  display: block;
  color: #004d40;
  font-size: 25px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#circSocial {
  max-width: 100%;
  min-height: 200px;
  width: 1280px;
  text-align: center;
  margin: 0 auto;
  float: none;
    order: 0;
    flex: 1 1 100%;
    align-self: stretch;
    z-index: 1;
}
#circSocial ul {
  list-style: none;
  padding: 0;
/*  margin-top: 80px;*/
  width: 100%;
}
#circSocial ul li {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 0 20px 20px 20px;
  text-align: center;
  background: #fff;
  border: solid 4px #00897b;
  transition: all 0.4s;
}
#circSocial ul li:hover {
  border: solid 4px #004d40;
  transition: all 0.4s;
  cursor: pointer;
}
#circSocial ul li:hover .icon {
  font-size: 35px;
/*  margin-top: 24%;*/
  transition: all 0.2s;
}

#circSocial ul li i{
    margin-top:10%;
}

#circSocial ul li:hover i{
    font-size: 35px;
      transition: all 0.2s;
        margin-top:3%;
}

@media only screen and (max-width: 1200px) {
  #circSocial h1 {
    font-size: 24px;
  }

  .iconSocial {
    position: relative;
/*    margin-top: 30%;*/
    color: #004d40;
    font-size: 35px;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  #circSocial ul li {
    width: 60px;
    height: 60px;
    margin: 0 20px 20px 20px;
  }
  #circSocial ul li:hover .icon {
    font-size: 35px;
  }
}
@media only screen and (max-width: 690px) {
  
  #circSocial ul li {
    border-radius: 0;
    border: none;
    margin: 0;
  }
  #circSocial ul li:hover {
    border: none;
  }
}







.panel {
    width: 14.28%;
    height: 100%; 
    float: left;
    position: relative;
/*
    background: url(../images/Vinayaha.jpg) 50% 0 no-repeat;
    background-size: cover;
*/
}


#mask {
  width: 700%;
  height: 100%;
  background: url("../images/beige_paper.png") 50% 0;  /*Sets the background image, position, repeating factor to none*/
/*  background-size:cover;   Covers the whole page */
  background-attachment: fixed;
}



#wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ccc;
  overflow: hidden;
}

$darken: 60%;
$color: rgb(255,255,255);
$color-alpha: darken( $color, $darken );
$color-base: rgb(0,0,0);

#webHeader{
    position: fixed;
    width:100%;
}

svg {
  width: 100%;
  height: inherit;
}

svg #alphaHeader {
  fill: #837E7C;
}
svg #titleHeader {
  letter-spacing: -0.3vw;
  font-size: 7.5vw;
  font-weight: 800;
	text-anchor: left;
	pointer-events: auto;
  font-family: 'Open Sans', sans-serif;
}
svg #subtitleHeader {
  letter-spacing: 2.2vw;
  font-size: 1.68vw;
  font-weight: 300;
	text-anchor: left;
	pointer-events: auto;
  font-family: 'Open Sans', sans-serif;
}
svg #baseHeader {
  fill: black;
  -webkit-mask: url(#maskHeader);
          mask: url(#maskHeader);
}

#topNav {
  float: left;
  position: fixed;
  height: 100%;
  width:100%;
  /*background-color: white;*/
  /*opacity: 0.5;*/
  overflow: hidden;
/*  border: 2px outset white;*/
    font-family: 'Terminal Dosis', Arial, sans-serif;
	font-size: 13px;
    display: none;
}



/* HOVER STYLES */
div.pop-up {
  display: none;
  position: absolute;
  width: 100px;
  padding: 2px;
  font-size: 90%;
  opacity: 0.85;
}



.ca-menu{
    padding:0;
    margin-top:5%;
    /*margin:20px auto;*/
    /*width: 5%;*/
    height: 100%;
    width: 100%;
    font-family: 'Terminal Dosis', Arial, sans-serif;
/*	font-size: 13px;*/
/*    margin-top: 5%;*/
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top:0;
    margin-top: 10%;
    z-index: 10;
}
.ca-menu li{
    width: 16%;
    height: 5vw;
    overflow: hidden;
    position: relative;
/*    display: block;*/
    float: left;
    background: #fff;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    order: 0;
    flex: 0 1 16vw;
    align-self: flex-start;
/*    margin-top: 1%;*/
    margin-left: 0.3%;
    border-radius: 5px;
}



.ca-menu li:last-child{
    width: 50px;
}


.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #333;
    position: relative;
    text-decoration: none;
    transition: 0.3s;
}
.ca-icon{
    font-family: 'fontawesome', cursive;
    font-size: 2vw;
    text-shadow: 0px 0px 1px #333;
    line-height: 90px;
    position: static;
    width: 45%;
    left: -10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top:0;
    margin-top: 10%;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.collapse-icon .ca-icon{
    left:25%;
    transition: all 500ms linear;
}



.collapse-icon {
    display: none;
}


@media screen and (max-width:680px) {
  .ca-menu li:not(:first-child) {display: none;}
  .ca-menu li.collapse-icon {
    position: absolute;
    display: inline-block;
    flex: 0 1 50px;
    right: 1%;
    float: right;
  }
    .ca-menu li{ flex: 0 1 50px;
    margin-left: 1%;
    height: 8%;
    }
    .ca-menu {
        justify-content: flex-start;
    }
    #IndexPortText{
        font-size: 2vw;
    }
}


@media screen and (max-width:680px) {
  .ca-menu.responsive {position: absolute;}

  .ca-menu.responsive li.collapse-icon {
    position: absolute;
    top: 0;
    flex: 0 1 50px;
    right: 1%;
  }
  .ca-menu.responsive li.other-icon {
    float:left;
    margin-right: 50%;
    display: flex;
    flex: 0 1 50px;
    margin-left: 1%;
  }

.ca-menu.responsive li.other-icon:not(:first-child) {
    margin-top: 2%;
}
  .ca-menu.responsive li a {
    display: block;
    text-align: left;
  }
}

@media screen and (max-width:900px) {
.ca-sub{display: none}
    .ca-content{top:25%;}
    #indexFooter{
        font-size: 1.3vw;
    }
}

@media screen and (max-width:680px) {
    .ca-content{display: none;}
    .ca-menu li {width:60px; border-radius: 50%;height: 3em;}
    .ca-icon{left: 25%; font-size: 20px; margin-top: 15%;top:-80%;display: block;}
    .ca-menu li:hover .ca-icon{left: 12.5%;font:25px;}

    #indexFooter{
        font-size: 1.8vw;
    }
}

/*
@media screenand(min-width:680px){
    .ca-icon{top:0%;}
}
*/

@media screen and  (min-height:550px) and (max-width:680px){
    .ca-menu li {height: 3em;}
    .ca-icon{top:-80%;}
}


@media screen and (max-height:620px){
    .ca-sub{display: none}
}

@media screen and (max-height:480px){
    #webHeader{height: 11vw; background: url(https://fldnlg-ch3302.files.1drv.com/y3mszFAqbtWQp5updSpshhYAsK6mrTyV1-NsOpV7XqSL9xWYTo0gHuoieoYdiuVyK5YdHRekEJO7dnC5zqPR7b_qdNpzArvtn2ajraNxlsFOCtl7HxFkdylKlDL8H6FwVGdAM4zu3SSjdSPHkGsfAEL2k4vJhffxGYlSKGXk_IWCDw?width=4533&height=808&cropmode=none) no-repeat top center;
  background-size: cover;}
}
@media screen and (min-height:480px){
    #webHeader{height: 11vw; background: url(https://fldnlg-ch3302.files.1drv.com/y3mszFAqbtWQp5updSpshhYAsK6mrTyV1-NsOpV7XqSL9xWYTo0gHuoieoYdiuVyK5YdHRekEJO7dnC5zqPR7b_qdNpzArvtn2ajraNxlsFOCtl7HxFkdylKlDL8H6FwVGdAM4zu3SSjdSPHkGsfAEL2k4vJhffxGYlSKGXk_IWCDw?width=4533&height=808&cropmode=none) no-repeat top center;
  background-size: cover;
    }
}
.ca-content{
    position: absolute;
    left: 25%;
    width: 100%;
    height: 100%;
     -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 10%;
    -ms-flex: 0 1 10%;
    flex: 0 1 10%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.ca-content h2,h3{
	font-weight:normal;
    margin:0;
	padding:0;
}

.ca-content h2{
    font-size: 2.4vw;
}

.ca-content h3{
    font-size: 1.17vw;
}

.ca-main{
    font-size: 2.4vw;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-sub{
    font-size: 1.17vw;
    color: #666;
    position: absolute;
    bottom:10%;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu li:hover{
    background: #C5E3BF;
}

.ca-menu li:hover .ca-icon{
    font-size: 35px;
    color: #215E21;
    opacity: 0.8;
    text-shadow: 0px 0px 13px #fff;
}
.ca-menu li:hover .ca-main{
    opacity: 1;
    color:#215E21;
    -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
}
.ca-menu li:hover .ca-sub{
    opacity: 1;
    -webkit-animation: moveFromBottom 300ms ease-in-out;
    -moz-animation: moveFromBottom 300ms ease-in-out;
    -ms-animation: moveFromBottom 300ms ease-in-out;
}
@-webkit-keyframes moveFromBottom {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        opacity: 0;
        -moz-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        opacity: 0;
        -ms-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}

@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        opacity: 0;
        -moz-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        opacity: 0;
        -ms-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}
