* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

body {
	background: url("../images/paper.jpg");
	overflow: hidden;
}

/* to show the canvas bounds */
canvas {
    background: black;
}

h1{
	text-align: center;
	color: #33CC99;
	font-size: 50px;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#startBtn{
	margin-top: 0.3%;
	margin-left: 0.5%;
	float: left;
}

#pauseBtn{
	margin-top: 0.3%;
	padding-left: 25%;
}

#restartBtn{
	margin-top: 0.3%;
	padding-left: 25%;
}

#stopBtn{
	margin-top: 0.3%;
	margin-right: 0.5%;
	float: right;
}